/* ===== adaptive ====== */

@media (max-width: 1100px) {
    .wrap-search {
        flex-direction: column;
    }
}

@media (max-width: 770px) {
    .input-search {
        width: 470px;
    }
}

@media (max-width: 598px) {
    .logo-img {
        margin-top: 25px;
    }
}

@media (max-width: 500px) {
    .wrap-select {
        flex-direction: column;
        text-align: center;
    }
    .input-search {
        width: 100%;
    }
    .header-btn {
        width: 100px;
        height: 30px;
        border-radius: 30px;
        font-size: 18px;
        margin-left: 5%;
    }
}

@media (max-width: 368px) {
    .logo-text {
        font-size: 18px;
    }
    .logo-img {
        width: 30px;
        height: 30px;
        margin-top: 15px;
        margin-right: 10px;
    }
}





/* ===== ADAPTIVE Modal window (authorization) ===== */
@media (max-width: 500px) {
    .modal {
        width: 100%;
    }
    .pass-icon {
        left: 380px;
    }
    .input-label {
        margin-left: 10px;
    }
    .fa-solid{
    left: 90%;
    }
}

@media (max-width: 434px) {
    .modal {
        font-size: 20px;
    }
    .input-label {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }
    .pass-icon {
        top: 205px;
        left: 260px;
    }
    .input-modal.input-pass{
        margin-left: 24px;
    }
}