.modal {
    width: 500px;
    height: 300px;
    background-color: white;
    color: #0078E9;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    border: 5px solid #0078E9;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
}

.input-label {
    display: block;
    font-size: 18px;
    margin-top: 50px;
    text-align: start;
    margin-left: 10%;
}

.input-modal.input-email {
    margin-left: 25px;
}

.input-modal {
    width: 250px;
    height: 30px;
    border: 2px solid #0078E9;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.btn-modal {
    height: 36px;
    position: fixed;
    top: 240px;
    right: 30px;
    background-color: #0078E9;
    color: white;
    border: 1px solid #0078E9;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    padding-inline: 15px;
    cursor: pointer;
}

.fa-xmark {
    top: 10px;
}

.pass-icon {
    position: absolute;
    top: 200px;
    left: 415px;
    font-size: 16px;
}